{% extends "attendance/base.html" %}
{% block content %}
<h4>Mark Your Attendance</h4>

<div class="card-columns" style="width:1000px">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Distributed Computing</h5>
      <p class="card-text">Prof.A</p>
        <a href="#" class="btn btn-primary">Mark Your Attendance</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
    <div class="card">
    <div class="card-body">
      <h5 class="card-title">Project Management</h5>
      <p class="card-text">Prof.B</p>
        <a href="#" class="btn btn-primary">Mark Your Attendance</a>
              <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>
    </div>
  </div>
    <div class="card">
    <div class="card-body">
      <h5 class="card-title">Human Machine Interaction</h5>
      <p class="card-text">Prof.C</p>
        <a href="#" class="btn btn-primary">Mark Your Attendance</a>
              <p class="card-text"><small class="text-muted">Last updated 45 mins ago</small></p>
    </div>
  </div>
    <div class="card">
    <div class="card-body">
      <h5 class="card-title">Cloud Computing Lab</h5>
      <p class="card-text">Prof.D</p>
        <a href="#" class="btn btn-primary">Mark Your Attendance</a>
              <p class="card-text"><small class="text-muted">Last updated 25 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Cloud Computing Lab</h5>
      <p class="card-text">Prof.D</p>
        <a href="#" class="btn btn-primary">Mark Your Attendance</a>
              <p class="card-text"><small class="text-muted">Last updated 33 mins ago</small></p>
    </div>
  </div>
</div>

{% endblock content %}

